.text-weight--bold {
  font-weight: 700 !important;
}
.text-weight--light {
  font-weight: 200 !important;
}

.text--title {
  font-size: 1.25rem !important;
}
.text--headline {
  font-size: 1.5rem !important;
}
.text--caption {
  font-size: .75rem !important;
}

.text--underlined {
  text-decoration: underline !important;
}