
// Font Sizes
$title: 1.25rem;
$normal: 1rem;
$caption: .75rem;

// Colors
$dark: #343434;
$dark-darker: #232323;
$dark-lighter: #454545;
$light: #fefefe;
$light-darker: #ededed;

$blue: #06389c;
$purple: #97069c;
$teal: #4ab;
$orange: #f9910a;
$orange-lighter: #ffa939;

$green: #18ab18;
$green-lighter: #18ab18;
$green-darker: #18ab18;


$red: #d92f2f;
$red-lighter: #d92f2f;
$red-darker: #d92f2f;


$link: #3273dc;
$link-active: #19a099;

$primary: $blue;
$primary-lighter: $blue;
$primary-darker: $blue;

$secondary: $purple;
$secondary-lighter: $purple;
$secondary-darker: $purple;

$breakpoints: (
  'mobile': ('min': 0, 'max': 599px),
  'tablet': ('min': 600px, 'max': 959px),
  'laptop': ('min': 960px, 'max': 1263px),
  'desktop': ('min': 1264px, 'max': 1903px),
  'huge': ('min': 1904px),
);







/* Color Theme Swatches in Hex */
$Fashion-1-hex: #365953;
$Fashion-2-hex: #77A690;
$Fashion-3-hex: #F2ECCE;
$Fashion-4-hex: #D9AC84;
$Fashion-5-hex: #A6583C;

// /* Color Theme Swatches in RGBA */
// $Fashion-1-rgba: rgba(53,89,82, 1);
// $Fashion-2-rgba: rgba(119,165,144, 1);
// $Fashion-3-rgba: rgba(242,236,205, 1);
// $Fashion-4-rgba: rgba(216,171,132, 1);
// $Fashion-5-rgba: rgba(165,87,59, 1);

// /* Color Theme Swatches in HSLA */
// $Fashion-1-hsla: hsla(168, 25, 27, 1);
// $Fashion-2-hsla: hsla(151, 20, 55, 1);
// $Fashion-3-hsla: hsla(50, 58, 87, 1);
// $Fashion-4-hsla: hsla(28, 52, 68, 1);
// $Fashion-5-hsla: hsla(16, 47, 44, 1);
