.j-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 300px; */

}
.j-input__input {
  font: inherit;
  width: 100%;
}

.j-input__label {
  flex: 0;
}

.j-input.label-beside {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

